/*General Settings*/
body{
	background: #fff;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: red;
}

.slideanim {
	visibility: hidden;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	-moz-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	visibility: visible;
}





/*Navigation Bar*/
.navbar {
    margin-bottom: 0;
    background-color: red;
    z-index: 9999;    
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
	border-width: 100px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}



/*Large Screen*/
@media screen and (min-width: 768px) {
  .navbar-nav ul li a:hover{
	    background-color: black !important;
		color: white !important;
  }
}

/*Large Screen*/
@media screen and (min-width: 768px) {
  .navbar-nav ul li a{
	font-weight: bold; 
	font-size: 15px; 
	color: red !important;
  }
}


/*Large Screen*/
@media screen and (min-width: 768px) {
  .navbar-nav ul li.active a{
	    background-color: black !important;
		color: white !important;
  }
}


@media (max-width: 1060px) {
        .navbar-header {
                float: none;
        }
        .navbar-toggle {
                display: block;
        }
        .navbar-collapse {
                border-top: 1px solid transparent;
                box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        }
        .navbar-collapse.collapse {
                display: none!important;
        }
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .navbar-nav {
                float: none!important;
                margin: 7.5px -15px;
        }
        .navbar-nav>li {
                float: none;
        }
        .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
        }
    .navbar-form {
        padding: 10px 15px;
        margin-top: 8px;
        margin-right: -15px;
        margin-bottom: 8px;
        margin-left: -15px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
        width:auto;
        float:none!important;
    }
}























/*Logo Settings*/
.glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: red;
}

.mouseOnlogo{
	margin-left: 20px;
}

.mouseOnlogo >a:hover{
	text-decoration: none;
}


.pressureCookerLogo{
	font-weight: bold;
}

.ciLogoPressureLogo{
	color: white;
}

.tLogo{
	background: #00009F;
}

.cookerLogo{
	color: white;
	background-color: #00009F;
}

.testBoarder{
	border: 2px solid #FF0004;
}

.titleBoarder{
	border: 2px solid #FF0004;
}

/*Big Fix for Screen*/
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px; 
    margin-left: -15px;
}

/*Big Fix for Screen*/
.row{
	margin-left: 15px;
	margin-right: 15px;
}


.container-fluid {
	padding: 0px;
}


























div.zoomit img:hover{
	opacity: 0.7;
    filter: alpha(opacity=70);
}


div.zoomit p{
	opacity: 0.5;
    filter: alpha(opacity=50);
}

div.zoomit p:hover{
	opacity: 0.9;
    filter: alpha(opacity=90);
}


.nojudgedecoration >a{
	color: black;
}

.nojudgedecoration >a:hover{
	color: red;
	text-decoration: none;
}


.noteamdecoration >a{
	color: #1364D1;
}

.noteamdecoration >a:hover{
	color: red;
	text-decoration: none;
}














































.myimage {
    position: relative;
    width: 120px;
    height: 120px;
    -webkit-animation:spin 15s linear infinite;
    -moz-animation:spin 15s linear infinite;
    animation:spin 15s linear infinite;
}


@-moz-keyframes spin { 
	0% {left:0px;
			-moz-transform: rotate(360deg); 
			transform:rotate(360deg); 
	}
	
	10% {left:0px;
			-moz-transform: rotate(0deg); 
			transform:rotate(0deg); 
	}
	20% {left:0px; 
			-moz-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	
	40% {left:0px; 
			-moz-transform: rotate(-360deg); 
			transform:rotate(-360deg); 			
	} 
	
	60% {left:0px; 
			-moz-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 

	80% {left:0px; 
			-moz-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	100% {left:0px; 
			top: 0px;
			-moz-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 
}

@-webkit-keyframes spin { 
	0% {left:0px;
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 
	}
	
	10% {left:0px;
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 
	}
	20% {left:0px; 
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	
	40% {left:0px; 
			-webkit-transform: rotate(-360deg); 
			transform:rotate(-360deg); 			
	} 
	
	60% {left:0px; 
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 

	80% {left:0px; 
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	100% {left:0px; 
			top: 0px;
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 
}

@keyframes spin { 
	0% {left:0px;
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 
	}
	
	10% {left:0px;
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 
	}
	20% {left:0px; 
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	
	40% {left:0px; 
			-webkit-transform: rotate(-360deg); 
			transform:rotate(-360deg); 			
	} 
	
	60% {left:0px; 
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 

	80% {left:0px; 
			-webkit-transform: rotate(0deg); 
			transform:rotate(0deg); 			
	} 
	
	100% {left:0px; 
			top: 0px;
			-webkit-transform: rotate(360deg); 
			transform:rotate(360deg); 			
	} 
}























/*Image Settings*/
.resizeJudgeMainPage{
	height: -webkit-fill-available;
    max-height: 290px;
	max-width: 100%;
	object-fit: contain;
    object-position: center;
}


.resizeTeamMainPage{
	height: -webkit-fill-available;
    max-height: 290px;
	max-width: 100%;
	object-fit: contain;
    object-position: center;
}


.resizeWithThumbnail {
    height: 330px;
    height: -webkit-fill-available;
    max-height: 330px;
	width: 490px;
    max-width: 100%;
    object-fit: cover;
/*	object-fit: contain;*/
    object-position: center;
    display: inline-block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.resizeWithIndividualView {
    height: 330px;
    height: -webkit-fill-available;
    max-height: auto;
	width: 490px;
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    display: inline-block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.resizeCarouselMainPage{
    width: -webkit-fill-available;
	width: -moz-fill-available;
    max-width: fit-content;
    object-fit: cover;
    object-position: center;
}











/*Best way to handle small Screens Example1*/
.example1 {}

@media screen and (min-width: 601px) {
  .example1 {
    font-size: 18px;
	padding-top: 100px;
	padding-left: 50px;
  }
}

@media screen and (max-width: 600px) {
  .example1 {
    font-size: 14px;
	padding-top: 0px;
	padding-left: 0px;
  }
}


/*Best way to handle small Screens Example2*/
.example2 {}

@media screen and (min-width: 601px) {
  .example2 {
    font-size: 18px;
	padding-top: 100px;
	padding-right: 50px;
	padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .example2 {
    font-size: 14px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
  }
}


/*Best way to handle small Screens Example3*/
.mediaHeading {}

@media screen and (min-width: 1001px) {
  .mediaHeading {
	margin: 100px 100px 0px 100px;
  }
}

@media screen and (max-width: 1000px) {
  .mediaHeading {
	margin: 0px;
  }
}





/*Best way to handle small Screens Example3*/
.mediaLinkContainer {}

@media screen and (min-width: 1001px) {
  .mediaLinkContainer {
	padding: 50px 100px 50px 100px;
  }
}

@media screen and (max-width: 1000px) {
  .mediaLinkContainer {
	padding: 0px 0px 0px 0px;
  }
}










.voteAlignment {}

/*Large Screen*/
@media screen and (min-width: 1001px) {
  .voteAlignment {
	padding: 100px 300px 20px 300px;
  }
}

/*Mobile Screen*/
@media screen and (max-width: 1000px) {
  .voteAlignment {
	padding: 100px 20px 20px 20px;
  }
}









.workingOnIt {}

/*Large Screen*/
@media screen and (min-width: 901px) {
  .mobileView {
	workingOnIt: 200px;
  }
}

/*Mobile Screen*/
@media screen and (max-width: 900px) {
  .mobileView {
	workingOnIt: 0px;
  }
}



















.mobileView {}

/*Large Screen*/
@media screen and (min-width: 901px) {
  .mobileView {
	padding: 100px;
  }
}

/*Mobile Screen*/
@media screen and (max-width: 900px) {
  .mobileView {
	padding: 0px;
  }
}



















p.recipesMessageLimit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 370px;
}










/*Settings of Container*/
.bg-1 { 
  background-color: rgba(31, 145, 244, 1);
  color: #ffffff;
}

.bg-2 { 
  background-color: #474e5d;
  color: #ffffff;
}

.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}

.bg-4 { 
  background-color: rgba(126, 26, 188, 1);
  color: #ffffff;
}

.bg-5 { 
  background-color: #2b3a36;
  color: #ffffff;
}

.myContainer {
  	padding-top: 70px;
  	padding-bottom: 70px;
}























.footerBoarder {
	border-top: 1px solid black;
	background: #222;
	padding-bottom: 10px;
/*	padding: 20px;*/
}


.footerStyle center a{
	color: #BCBCBC;
}

.footerStyle center a:hover{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

























































































/*Slide Animation */
.slideanim {
	visibility:hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
	0% {
  		opacity: 0;
  		transform: translateY(70%);
	}
	
	100% {
  		opacity: 1;
  		transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
  		opacity: 0;
  		-webkit-transform: translateY(70%);
		transform: translateY(70%);
	} 
	
	100% {
  		opacity: 1;
  		-webkit-transform: translateY(0%);
	  	transform: translateY(0%);
	}
}

@-moz-keyframes slide {
	0% {
  		opacity: 0;
  		-moz-transform: translateY(70%);
		transform: translateY(70%);
	} 
	
	100% {
  		opacity: 1;
  		-moz-transform: translateY(0%);
	  	transform: translateY(0%);
	}
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
  		text-align: center;
  		margin: 25px 0;
		padding: 0px;
	}
	
	.btn-lg {
		width: 100%;
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		font-size: 150px;
		padding: 0px;
	}
}